body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 50px 0;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.all-items {
  padding: 30px;
  min-width: 30%;
  background-color: rgb(69, 192, 188);
}

.selected-items {
  padding: 30px;
  min-width: 30%;
  background-color: palevioletred;
}

h2 {
  font-size: 2rem;
}


/* input box styling */